force-app/main/default/flows/Activate_Deactivate_Connector_Objects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Activate</name>
        <label>Activate</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Loop_SObject_Records.IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateDMLList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SObject_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SObject_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deactivate</name>
        <label>Deactivate</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Loop_SObject_Records.IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateDMLList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SObject_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SObject_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_SObject_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deactivate_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveObjects</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_SObject_Records.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate</targetReference>
            </connector>
            <label>Deactivate Object?</label>
        </rules>
        <rules>
            <name>Activate_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InactiveObjects</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_SObject_Records.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate</targetReference>
            </connector>
            <label>Activate Object?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ActiveSobjects</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_SObject_Map__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SObject_Mapping__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConfiguredObjects</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_SObject_Map__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SObject_Mapping__c</object>
        <sortField>JSON_Sobject_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Activate/Deactivate Connector Objects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate/Deactivate Connector Objects</label>
    <loops>
        <name>Loop_SObject_Records</name>
        <label>Loop SObject Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_SObject_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_to_Deactivate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_SObject_Records</name>
        <label>Get SObject Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ToggleConfigObjects</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SObject_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_to_Deactivate</name>
        <label>Update to Deactivate</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>UpdateDMLList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>440</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>adfadsa</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ToggleConfigObjects</name>
        <label>ToggleConfigObjects</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_SObject_Records</targetReference>
        </connector>
        <fields>
            <name>Deactivate_Objects</name>
            <fieldText>Deactivate Objects</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deactivate_Objects_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActiveObjectsInfo</name>
                    <fieldText>&lt;p&gt;Select objects and submit to deactivate Netsuite Connector sync.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Deactivate_Objects_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActiveObjects</name>
                    <choiceReferences>ActiveSobjects</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Active Objects</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Activate_Objects</name>
            <fieldText>Activate Objects</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Activate_Objects_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InactiveObjectsInfo</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select objects and submit to activate Netsuite Connector sync.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Activate_Objects_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InactiveObjects</name>
                    <choiceReferences>ConfiguredObjects</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Inactive Objects</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SObject_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateDMLList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SObject_Mapping__c</objectType>
    </variables>
</Flow>
