force-app/main/default/flows/Connector_Config_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Connector_Configurations.Enable_Sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_EnableNSConnection.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Connector_Configurations.Netsuite_Instance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_NS_Instances.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Connector_Configurations.Schedule_Delete_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduleBatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Connector_Configuration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Connector_Config_Available</name>
        <label>Connector Config Available?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Connector_Configuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Configuration_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Connector_Configurations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>Configuration Available</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>NSInstanceChoices</name>
        <collectionReference>Get_NS_Instances</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>NS_Sandboxes__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ScheduleBatch</name>
        <dataType>Boolean</dataType>
        <expression>AND({!Copy_1_of_EnableBatch.value} , {!Copy_1_of_EnableNSConnection.value})</expression>
    </formulas>
    <formulas>
        <name>ScheduleBatchSwitch</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!Copy_1_of_EnableNSConnection.value}==false,false ,{!Get_Connector_Configurations.Schedule_Delete_Job__c} )</expression>
    </formulas>
    <interviewLabel>Connector Config Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Connector Config Setup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Connector_Configuration</name>
        <label>Create Connector Configuration</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>Fault_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Enable_Sync__c</field>
            <value>
                <elementReference>Copy_1_of_EnableNSConnection.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Netsuite_Instance__c</field>
            <value>
                <elementReference>Copy_1_of_NS_Instances.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Delete_Job__c</field>
            <value>
                <elementReference>ScheduleBatch</elementReference>
            </value>
        </inputAssignments>
        <object>Connector_Configurations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Connector_Configurations</name>
        <label>Get Connector Configurations</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NS_Instances</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Connector_Configurations__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NS_Instances</name>
        <label>Get NS Instances</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Connector_Configuration</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NS_Sandboxes__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Connector_Configuration</name>
        <label>Update Connector Configuration</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputReference>Get_Connector_Configurations</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Connector_Configuration</name>
        <label>Existing Connector Configuration</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Connector_Config_Available</targetReference>
        </connector>
        <fields>
            <name>ConnectorConfig</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Configurations&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_X3</name>
            <fieldText>Activate / Deactivate Connector</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_X3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_EnableNSConnectorInfo</name>
                    <fieldText>&lt;p&gt;Deactivate to stop syncing records to Nesuite Instance.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Note &lt;/em&gt;&lt;/strong&gt;&lt;em&gt;: Sync Requests also will stop generating.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Copy_1_of_EnableNSConnection.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Enable</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Activate to sync records to Netsuite.&lt;/li&gt;&lt;li&gt;Activate NetSuite Connector if&lt;ul&gt;&lt;li&gt;Object/Field mapping is added from &lt;strong&gt;Object/Field Mapping&lt;/strong&gt; navigation menu.&lt;/li&gt;&lt;li&gt;Instance with scripts added from &lt;strong&gt;Instances&lt;/strong&gt; navigation menu.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Active Instance&lt;/strong&gt; is set on Home page.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Copy_1_of_EnableNSConnection.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_X3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_EnableNSConnection</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Connector_Configurations.Enable_Sync__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_X2</name>
            <fieldText>Active  Instance</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_X2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_ActiveNSInstance</name>
                    <fieldText>&lt;p&gt;Choose &lt;strong&gt;Netsuite Instance&lt;/strong&gt; to connect with this &lt;strong&gt;Salesforce Instance.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_X2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_NS_Instances</name>
                    <choiceReferences>NSInstanceChoices</choiceReferences>
                    <defaultValue>
                        <elementReference>SetInstanceChoice</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>NS Instances</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_X1</name>
            <fieldText>Schedule Batch /  Delete Scheduled Job</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_X1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Scheduledeletebatch</name>
                    <fieldText>&lt;p&gt;Schedule batch to delete old &lt;strong&gt;Sync Requests.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Copy_1_of_EnableBatch.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DeleteScheduleJob</name>
                    <fieldText>&lt;p&gt;Default batch schedule is 12 AM everyday. If you want to proceed with different schedule, follow below steps.&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;Toggle to disable the Active scheduled job and hit Submit.&lt;/em&gt;&lt;/li&gt;&lt;li&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;Again toggle to activate, update below Schedule Preference with desired Cron expression and hit submit.&lt;/em&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;Note&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;: Please note that invalid Cron expression will result into error.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Copy_1_of_EnableBatch.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Connector_Configurations.Schedule__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Copy_1_of_EnableBatch.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_X1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_EnableBatch</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ScheduleBatchSwitch</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Connector_Configurations.NS_Requests_Delete_Days__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Copy_1_of_EnableBatch.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_error</name>
        <label>Fault error</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!EnableConfig}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Connector_Configurations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EnableConfig</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EnableDeleteBatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetInstanceChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Connector_Configurations.Netsuite_Instance__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ToggleTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
