force-app/main/default/flows/NSInstanceConfigurations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Context</name>
        <label>Context</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_PAuth1_Credentials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update?</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_OAuth1_Credentials</targetReference>
            </connector>
            <label>New?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>NSInstanceConfigurations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NSInstanceConfigurations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_OAuth1_Credentials</name>
        <label>Add OAuth1 Credentials</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Reset_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Customer_Key__c</field>
            <value>
                <elementReference>$Record.Consumer_Key__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Secret__c</field>
            <value>
                <elementReference>$Record.Consumer_Secrete__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instance_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Token_Secret__c</field>
            <value>
                <elementReference>$Record.Token_Secrete__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Token__c</field>
            <value>
                <elementReference>$Record.Token__c</elementReference>
            </value>
        </inputAssignments>
        <object>NSConnectorOauth1Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>NSInstanceConfigurations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logging_Level__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>NS_Connector_Logs__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Reset_Fields</name>
        <label>Reset Fields</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Consumer_Key__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumer_Secrete__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Token_Secrete__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Token__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PAuth1_Credentials</name>
        <label>Update PAuth1 Credentials</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Reset_Fields</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Key__c</field>
            <value>
                <elementReference>$Record.Consumer_Key__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Secret__c</field>
            <value>
                <elementReference>$Record.Consumer_Secrete__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instance_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Token_Secret__c</field>
            <value>
                <elementReference>$Record.Token_Secrete__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Token__c</field>
            <value>
                <elementReference>$Record.Token__c</elementReference>
            </value>
        </inputAssignments>
        <object>NSConnectorOauth1Config__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Context</targetReference>
        </connector>
        <object>NS_Sandboxes__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
